<div class="col-lg-8">
  <div *ngIf="posts && posts.length == 0" class="col-lg-12 no-posts posts">
    This user doesn´t have <i>any</i> post.
  </div>

  <div id="posts" *ngIf="posts && posts.length > 0">
    <div *ngFor="let post of posts" class="item-posts">
      <div class="panel panel-default" *ngIf='post.user'>
        <div class="panel-body">
          <div>
            <a [routerLink]="['/profile/', post.user._id]" class="user-name">
              {{post.user.username}}
            </a>
            &nbsp;|&nbsp;
            <span class="date">
              {{ (post.created_at |amFromUnix) | amTimeAgo }}
            </span>
          </div>
          <div class="post-text-container">
            <h4 class="post-text pull-left">
              {{post.text}}
            </h4>
          </div>

          <div class="pull-right post-button" *ngIf="post.user._id == identity._id">
            &nbsp;
            <a href="#myModal{{post._id}}" class="delete" data-toggle="modal" *ngIf="showImage != post._id">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
            &nbsp;
            <div id="myModal{{post._id}}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                        Do you want to delete the post?
                      </h4>
                      </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                          </button>
                          <button type="button" class="btn btn-danger" (click)="deletePost(post._id); sidebar.getCounters();" data-dismiss="modal">
                            Delete
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="likes-container">
                  <div *ngIf="!post.liked">
                    <img (click)="doLike(post, $event)" src="../../../assets/images/empty-heart.png" class="heart"/>
                  </div>
                  <div *ngIf="post.liked">
                    <img (click)="doLike(post, $event)" src="../../../assets/images/liked-heart.png" class="heart"/>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sidebar #sidebar (sent)="refresh($event)"></sidebar>
<div class="clearfix"></div>
