* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1-strong{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.active{
    background: #cc1717;
}

.jumbotron{
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

.item-user, .item-post {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

.item-user, .item-post {
    width: 100% !important;
}

.item-user .user-name,
.item-post .user-name{
    margin-top: 10px;
}

.item-user .user-name {
    color: #969393;
}

.item-user .user-name .username a{
    color: #555;
    font-weight: bold;
}

.avatar-default{
    width: 100% !important;
}


